<header class="header">
  @if (!isHidden) {
    <figure class="header-img" [routerLink]="['']">
      <div class="header-wrap">
      <img [src]="imgSrc" alt="Pollapp header icon" />
      <figcaption [class.text--tertiary]="isInverted">
        Poll <br />
        App
      </figcaption>
      </div>
    </figure>

    <a routerLink="/newSurvey" class="btn btn__primary" [class.d-none]="isMobileBreakpoint || !isInverted && !isHidden " >Create survey</a>
  } @else {
    <div class="form--field">
      <span class="survey--status published published--draft">Draft</span>
      <div class="title--wrap">
        <h1 class="title title--small">Create new survey</h1>
        <button type="button" class="text text--white btn btn__primary--secondary btn__cancel" routerLink="/">
          <span [class.d-none]="isMobileBreakpoint">Cancel</span></button>
      </div>
    </div>
  }
</header>
