<header class="header">
  @if (!isHidden) {
    <figure class="header-img">
      <img [src]="imgSrc" alt="Pollapp header icon" />
      <figcaption [class.text--tertiary]="isInverted">
        Poll <br />
        App
      </figcaption>
    </figure>
  } @else {
    <div class="form--field">
      <span class="survey--status published published--draft">Draft</span>
      <div class="title--wrap">
        <h1 class="title title--small">Create new survey</h1>
        <button type="button" class="text text--white btn btn__primary--secondary btn__cancel">
          <a [class.d-none]="isMobileBreakpoint" [routerLink]="['']">Cancel</a></button>
      </div>
    </div>
  }
</header>
