@use './../abstracts/index' as *;

.btn {
  background-color: #ffcfa1;
  display: flex;
  align-items: center;
  border: 0;
  gap: 16px;
  @include font($fs: 1rem);
  @include size($w: fit-content, $h: 20px);
  padding: 12px 16px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }

  &__primary {
    border-radius: 10px;
    &--regular {
      &:hover::after {
        content: '';
        @include size($w: 20px, $h: 20px);
        background-image: url(/assets/img/add_circle.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &--secondary {
      height: 40px;
      padding: 8px 12px;
      background-color: #7b5b55;
      &::after {
        content: '';
        @include size($w: 20px, $h: 20px);
        background-image: url(/assets/img/add_circle_white.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__delete {
    background-image: url('/assets/img/delete.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 26px;
    width: 26px;
    background-color: unset;
    &:hover {
      background-image: url('/assets/img/delete_lila.svg');
      background-color: #ffb77099;
    }
  }
  &__submit {
    background-color: #ffcfa1;
    @include size($w: 99px, $h: 48px);
    @include dFlex($fd: row, $g: 10px);
    border-radius: 10px;
    padding: 0;
    @include respond(m) {
      @include size($w: 120px, $h: 48px);
      background-color: #ffb770;
      &::after {
        content: '';
        @include size($w: 16px, $h: 16px);
        background-image: url(/assets/img/check_submit.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &__add {
    background-color: transparent;
    color: white;
    padding: 24px 10px;
    width: 146px;
    &::after {
      content: '';
      @include size($w: 16px, $h: 16px);
      background-image: url(/assets/img/add_circle_white.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &:hover {
      background-color: #faf5fe33;
    }
  }
  &__cancel {
    background-color: #72524a;
    font-family: Nokora;
    border-radius: 10px;
    gap: 10px;
    &::after {
      content: '';
      @include size($w: 13px, $h: 13px);
      background-image: url(/assets/img/close.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__active{
    border-radius: 20px;
    background-color: #FFB770;
    height: 25px;
    @include respond(m){
      height: 42px;
    }
  }
  &__past{
    border-radius: 20px;
    background-color: #FEE9D4;
     @include respond(m){
      height: 42px;
    }
  }
  &__wrap {
    margin-top: 24px;
  }
  &__accordion {
    background-color: transparent;
    color: #35273a;
    border: unset;
    align-items: center;
    @include dFlex($fd: row, $g: 8px);
    &::after {
      content: '';
      @include size($w: 13px, $h: 13px);
      background-image: url('/assets/img/arrow_drop_down.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &.open::after {
      rotate: 180deg;
    }
    margin-bottom: 24px;
  }
  &__close{
    border-radius: 10px;
    justify-content: center;
    padding: 8px 12px;
  }

  @include respond(m) {
  }
}
