@use './../abstracts/index' as *;

.card {
  background-color: white;
  @include dFlex($ai: flex-start, $jc: unset, $g: 64px);
  @include size($w: 273px, $h: 260px);
  @include font($fs: 1rem);
  padding: 40px 18px;
  border-radius: 0 80px 0 0;
  color: black;
  &--category {
    width: 100%;
    @include font($fs: clamp(1rem, 0.875rem, 1vw), $fw: 600);
  }
  &--title {
    width: 100%;
    @include font($fs: clamp(1.5rem, 1.625rem, 2vw), $fw: 700);
  }

  &:hover {
    background-color: #f4e9fb;
    cursor: pointer;
    .published {
      background-color: #ffb770;
    }
  }
  @include respond(s){
    width:200px;
  }
}

.published {
  border-radius: 0 14px 0 0;
  background-color: #ffcfa1;
  padding: 3px 6px;
  @include font($fs: clamp(1rem, 0.875rem, 1vw), $fw: 600);
  width: fit-content;
  &--draft {
    background-color: #ffb770;
    color: #221227;
    font-weight: bolder;
    padding: 3px 12px;
  }
  &--today {
    background-color: #f3da89;
  }
  &--indefinite {
    background-color: #faedc2;
  }
}

.expired {
  border-radius: 0 14px 0 0;
  background-color: #f0935e;
  padding: 3px 6px;
  @include font($fs: clamp(1rem, 0.875rem, 1vw), $fw: 600);
  width: fit-content;
}
