
body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #ee9236;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
  border: 2px solid #8e7099;
}

.card-carousel--all::-webkit-scrollbar-track {
  background: transparent;
}

.card-carousel--all::-webkit-scrollbar {
  width: var(--sb-size);
}

.card-carousel--all::-webkit-scrollbar-thumb {
  background: #FFB770;
  border-radius: 5px;
}



@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}