<section class="form--meta" [formGroup]="createSurvey.surveyForm">
  <article class="form--meta__general-row form--wrap" formArrayName="questions">
    @for (item of createSurvey.questions.controls; track item; let questionIndex = $index) {
      <div [formGroupName]="questionIndex" class="form--group">
        <div class="form--field">
          <div class="form--field__input">
            <label class="text text--white" for="questionInput-{{ questionIndex }}"
              >{{ $index + 1 }}. Question</label
            >
            <button
              class="btn btn__delete"
              type="button"
              (click)="createSurvey.deleteControlFromArray(createSurvey.questions, questionIndex)"
            ></button>
          </div>

          <div class="form--field__input">
            <input
              class="input"
              [class.text--error]="
                item.get('questionInput')?.invalid &&
                item.get('questionInput')?.pristine &&
                item.get('questionInput')?.touched &&
                createSurvey.formSubmitted
              "
              id="questionInput-{{ questionIndex }}"
              type="text"
              formControlName="questionInput"
              placeholder="{{
                item.get('questionInput')?.invalid &&
                item.get('questionInput')?.pristine &&
                item.get('questionInput')?.touched &&
                createSurvey.formSubmitted
                  ? 'This field is obligated !'
                  : ''
              }}"
            />
          </div>
        </div>

        <div class="form--group form--group__secondary">
          <div class="form--field__checkbox-group">
            <h4 class="headline--secondary text text--white">Answers</h4>
            <div class="form--field__checkbox">
              <label for="multiple-choice-{{ questionIndex }}"></label>
              <input
                class="input input--checkbox"
                id="multiple-choice-{{ questionIndex }}"
                type="checkbox"
                formControlName="multipleChoice"
               
              />
              <span class="text text--white text--white__slim">Allow multiple answers.</span>
            </div>
          </div>

          <div formArrayName="answers" class="form--group__answers">
            @for (
              item of createSurvey.getAnswers(questionIndex).controls;
              track item;
              let answerIndex = $index;
              let last = $last
            ) {
              <section class="form--group w-100" id="section__answer" [formGroupName]="answerIndex">
                @if (isMobileBreakpoint) {
                  <div class="form--field">
                    <label for="answerInput-{{ questionIndex }}.{{ answerIndex }}"></label>
                    <div class="form--field__input">
                      <div>
                        <div class="text text--white text--white__count">
                          {{ answerIndex | alphabet }}.
                        </div>
                      </div>
                      <button
                        class="btn btn__delete"
                        type="button"
                        (click)="
                          createSurvey.deleteControlFromArray(
                            createSurvey.getAnswers(questionIndex),
                            answerIndex
                          )
                        "
                      ></button>
                    </div>
                    <input
                      class="input"
                      [class.text--error]="
                        item.get('answerInput')?.invalid &&
                        item.get('answerInput')?.pristine &&
                        item.get('answerInput')?.touched &&
                        createSurvey.formSubmitted
                      "
                      id="answerInput-{{ questionIndex }}.{{ answerIndex }}"
                      type="text"
                      formControlName="answerInput"
                      placeholder="{{
                        item.get('answerInput')?.invalid &&
                        item.get('answerInput')?.pristine &&
                        item.get('answerInput')?.touched &&
                        createSurvey.formSubmitted
                          ? 'This field is obligated !'
                          : ''
                      }}"
                    />
                  </div>
                } @else {
                  <div class="form--field">
                    <label for="answerInput-{{ questionIndex }}.{{ answerIndex }}"></label>
                    <div class="form--field__input">
                      <div>
                        <div class="text text--white text--white__count">
                          {{ answerIndex | alphabet }}.
                        </div>
                      </div>
                      <input
                        [class.text--error]="
                          item.get('answerInput')?.invalid &&
                          item.get('answerInput')?.pristine &&
                          item.get('answerInput')?.touched &&
                          createSurvey.formSubmitted
                        "
                        class="input"
                        id="answerInput-{{ questionIndex }}.{{ answerIndex }}"
                        type="text"
                        formControlName="answerInput"
                        placeholder="{{
                          item.get('answerInput')?.invalid &&
                          item.get('answerInput')?.pristine &&
                          item.get('answerInput')?.touched &&
                          createSurvey.formSubmitted
                            ? 'This field is obligated !'
                            : ''
                        }}"
                      />
                      <button
                        class="btn btn__delete"
                        type="button"
                        (click)="
                          createSurvey.deleteControlFromArray(
                            createSurvey.getAnswers(questionIndex),
                            answerIndex
                          )
                        "
                      ></button>
                    </div>
                  </div>
                }

                <div [class.d-none]="!last" class="form--group__answers-row">
                  <div class="underline">
                    <button
                      [class.d-none]="$index == 5"
                      class="btn btn__add"
                      [hidden]="!$last"
                      type="button"
                      (click)="createSurvey.addAnswer(questionIndex)"
                    >
                      Add answer
                    </button>
                  </div>

                  <span
                    [class.d-none]="$index == 5 || $index < 2"
                    class="text text--white text--white__xslim"
                    >you can add up to 6 answers fields.</span
                  >
                </div>
              </section>
            } @empty {
              <div class="underline">
                <button
                  class="btn btn__add"
                  type="button"
                  (click)="createSurvey.addAnswer(questionIndex)"
                >
                  Add answer
                </button>
              </div>
            }
          </div>
        </div>
      </div>
    } @empty {
      <article class="form--meta__general form--half">
        <button
          class="text text--white btn btn__primary btn__primary--secondary"
          type="button"
          (click)="createSurvey.addQuestion()"
        >
          Add next questions
          <img src="/assets/img/add_circle_white.svg" alt="" />
        </button>
      </article>
    }

    <article class="form--group">
      <button
        class="text text--white btn btn__primary btn__primary--secondary"
        type="button"
        (click)="createSurvey.addQuestion()"
      >
        Add next question
        <img src="/assets/img/add_circle_white.svg" alt="plus-symbol" />
      </button>
    </article>
  </article>
</section>
