
    <h2>Ending soon surveys</h2>
@for (item of toExpire(); track $index; let i = $index) {
    <div role="link" [routerLink]="['/survey', item.id]">
    <span> Category: {{ item.category }}</span>
    <h3> Survey: {{ item.surveyName }}</h3>
    @if (calcExpiryDate(db.currentDate,item.endDate ?? '1') > 1 ) {
        <span>Ends in {{ calcExpiryDate(db.currentDate,item.endDate ?? '1') }} Days</span>        
    } @else {
    <span>Ends in {{ calcExpiryDate(db.currentDate,item.endDate ?? '1') }} Day</span>
    }
    </div>
}

@for (item of db.surveyList(); track $index) {
    <h2>Survey</h2>
    <div role="link" [routerLink]="['/survey', item.id]">
    <p> Category: {{ item.category }}</p>
    <p>Survey: {{ item.surveyName }}</p>
    </div>

     @if (calcExpiryDate(db.currentDate,item.endDate ?? '1') > 1 ) {
        <span>Ends in {{ calcExpiryDate(db.currentDate,item.endDate ?? '1') }} Days</span>        
    } @else {
    <span>Ends in {{ calcExpiryDate(db.currentDate,item.endDate ?? '1') }} Day</span>
    }
} 