@use '../../../../scss/abstracts/index' as *;

.surveys {
  @include dFlex($jc: unset, $ai: unset, $g: 90px);
}

.overview {
  margin-bottom: 24px;
}

.btn-wrap{
  @include dFlex($fd: row, $jc: space-between);
   @include respond(m){
      flex-direction: column;
      gap: 24px;
    }
}


.btn-group{
  @include dFlex($fd: row, $jc: space-between, $g:10px );
}