<main class="overview">
<p class="text text--info text--white">Ending soon surveys</p>

<section class="surveys">
<div class="card-carousel">
  @for (item of db.toExpire(); track $index; let i = $index) {
    <div class="card" role="link" [routerLink]="['/survey', item.id]">
      <div class="card-list--paragraph"> 
      <p class="text card--category">{{ item.category }}</p>
      <p class="text card--title">{{ item.surveyName }}</p>
      </div>
      @if (calcExpiryDate(db.currentDate, item.endDate ?? '1') > 1) {
        <span class="published">Ends in {{ calcExpiryDate(db.currentDate, item.endDate ?? '1') }} Days</span>
      } @else  if (calcExpiryDate(db.currentDate, item.endDate ?? '1') == 1){
        <span class="published">Ends in {{ calcExpiryDate(db.currentDate, item.endDate ?? '1') }} Day</span>
      }
      @else {
        <span>ausgelaufen</span>
      }
    </div>
  }   @empty {
    <p class="text text--white">There are no Surveys expiring soon!</p>
  }
</div>



<div class="card-carousel card-carousel--all">
  @for (item of db.surveyList(); track $index) {
    <div class="card-list" role="link" [routerLink]="['/survey', item.id]">
      <div class="card-list--paragraph">
      <p class="text text--secondary view--category">{{ item.category }}</p>
      <p class="text view--title">{{ item.surveyName }}</p>
      </div>
      @if (calcExpiryDate(db.currentDate, item.endDate ?? '1') > 1) {
        <span class="published text text--tertiary">Ends in {{ calcExpiryDate(db.currentDate, item.endDate ?? '1') }} Days</span>
      } @else  if (calcExpiryDate(db.currentDate, item.endDate ?? '1') == 1){
        <span class="published text text--tertiary">Ends in {{ calcExpiryDate(db.currentDate, item.endDate ?? '1') }} Day</span>
      }
      @else {
        <span>ausgelaufen</span>
      }
    </div>
  }
</div>
</section>
</main>