@use '../../../../scss/abstracts/index' as *;

.surveys {
  @include dFlex($jc: unset, $ai: unset, $g: 90px);
}

.overview {
  margin-bottom: 24px;
  padding: 0 150px;
  @include respond(l){
    padding: unset;
  }
}