<section class="hero">
  <article>
    <h1 class="title title--medium">
      Collect Feedback, <br />
      Unlock Ideas
    </h1>
    <p class="text text--white">
      Create and share surveys in minutes – from team events to workplace culture. Collect opinions,
      engage your audience, and turn feedback into action.
    </p>
    <a class="btn btn__primary btn__primary--regular" routerLink="newSurvey"> New survey </a>
  </article>
  <img class="hero-img" src="/assets/img/hero_img_regular.svg" alt="" />
</section>

<h2 class="title title--small title--center">Your surveys</h2>

<app-overview></app-overview>
