<section class="form--meta" [formGroup]="createSurvey.surveyForm">
  <article class="form--meta__general-column">
    <div class="form--meta__section">
      @if (isMobileBreakpoint) {
        <div class="form--field">
          <div class="form--field__input">
            <label class="text text--white" for="survey-name">Survey Name</label>
            <button
              class="btn btn__delete"
              type="button"
              (click)="createSurvey.resetValue('surveyName')"
            ></button>
          </div>
          <input
            class="input"
            (input)="createSurvey.formSubmitted = false"
            [class.text--error]="
              createSurvey.surveyForm.get('surveyName')?.invalid && createSurvey.formSubmitted
            "
            id="survey-name"
            type="text"
            formControlName="surveyName"
            placeholder="{{
              createSurvey.surveyForm.get('surveyName')?.invalid && createSurvey.formSubmitted
                ? 'This field is obligated !'
                : ''
            }} "
          />
        </div>
      } @else {
        <div class="form--field">
          <label class="text text--white" for="survey-name">Survey Name</label>
          <div class="form--field__input">
            <input
              class="input"
              (input)="createSurvey.formSubmitted = false"
              [class.text--error]="
                createSurvey.surveyForm.get('surveyName')?.hasError && createSurvey.formSubmitted
              "
              id="survey-name"
              type="text"
              formControlName="surveyName"
              placeholder="{{
                createSurvey.surveyForm.get('surveyName')?.hasError && createSurvey.formSubmitted
                  ? 'This field is obligated !'
                  : ''
              }} "
            />
            <button
              class="btn btn__delete"
              type="button"
              (click)="createSurvey.resetValue('surveyName')"
            ></button>
          </div>
        </div>
      }
    </div>
    <div class="form--meta__section">
      @if (isMobileBreakpoint) {
        @if (
          createSurvey.surveyForm.controls.endDate.hasError('endDateError') &&
          createSurvey.formSubmitted
        ) {
          <span class="error--endDate text--secondary text--error"
            >Date must not be in the past!</span
          >
        } @else {
          <span class="error--endDate"></span>
        }
        <div class="form--field">
          <div class="form--field__input">
            <label class="text text--white" for="end-date"
              >Set end date <i class="text--optional">(optional)</i></label
            >
            <button
              class="btn btn__delete"
              type="button"
              (click)="createSurvey.resetValue('endDate')"
            ></button>
          </div>
          <input
            class="input"
            id="end-date"
            type="date"
            min="{{ db.currentDate }}"
            formControlName="endDate"
          />
        </div>
      } @else {
        <div class="form--field">
          <label class="text text--white" for="end-date"
            >Set end date <i class="text--optional">(optional)</i></label
          >
          <div class="form--field__input">
            <input
              class="input"
              id="end-date"
              type="date"
              [min]="db.currentDate"
              formControlName="endDate"
            />
            <button
              class="btn btn__delete"
              type="button"
              (click)="createSurvey.resetValue('endDate')"
            ></button>
          </div>
          @if (
            createSurvey.surveyForm.controls.endDate.hasError('endDateError') &&
            createSurvey.formSubmitted
          ) {
            <span class="error--endDate text--secondary text--error"
              >Date must not be in the past!</span
            >
          } @else {
            <span class="error--endDate"></span>
          }
        </div>
      }

      <label class="text text--white" for="category">
        <select
          class="dropdown"
          [class.highlight-select]="createSurvey.isDirty"
          id="category"
          type="text"
          formControlName="category"
        >
          <button>
            <selectedcontent
              [class.text--error]="
                createSurvey.surveyForm.get('category')?.touched &&
                createSurvey.surveyForm.get('category')?.pristine &&
                createSurvey.surveyForm.get('category')?.invalid &&
                createSurvey.formSubmitted 
              "
            ></selectedcontent>
          </button>
          <option value="" disabled selected hidden>Choose category</option>
          @for (item of createSurvey.categories; track $index) {
            <option class="text text--tertiary" value="{{ item.value }}">{{ item.tag }}</option>
          }
        </select>
      </label>
    </div>
  </article>

  <article class="form--meta__general form--half">
    @if (isMobileBreakpoint) {
      <div class="form--field">
        <div class="form--field__input-top">
          <label class="text text--white" for="description"
            >Describing text <i class="text--optional">(optional)</i></label
          >

          <button
            class="btn btn__delete"
            type="button"
            (click)="createSurvey.resetValue('description')"
          ></button>
        </div>
        <textarea
          class="input input--textarea"
          name="description"
          id="description"
          formControlName="description"
        ></textarea>
      </div>
    } @else {
      <div class="form--field">
        <label class="text text--white" for="description"
          >Describing text <i class="text--optional">(optional)</i></label
        >
        <div class="form--field__input-top">
          <textarea
            class="input input--textarea"
            name="description"
            id="description"
            formControlName="description"
          ></textarea>
          <button
            class="btn btn__delete"
            type="button"
            (click)="createSurvey.resetValue('description')"
          ></button>
        </div>
      </div>
    }
  </article>
</section>
