<form
  [formGroup]="createSurvey.surveyForm"
  (ngSubmit)="createSurvey.formSubmit()"
  class="form--container"
>
  <div class="form form--new-survey">
    <app-survey-meta class="form--meta"></app-survey-meta>
    <app-survey-question class="form--meta"></app-survey-question>
  </div>
  <button type="submit" class="btn btn__submit">Publish</button>
</form>

@if (createSurvey.successMessage()) {
  <dialog
    id="popover"
    popover="auto"
    class="overlay--published"
    [open]="createSurvey.successMessage()"
  >
    <span>Your survey is now published</span>
  </dialog>
}
