<form
  [formGroup]="createSurvey.surveyForm"
  (ngSubmit)="createSurvey.formSubmit()"
  class="form--container"
>
  <div class="form form--new-survey">
    <app-survey-meta class="form--meta"></app-survey-meta>
    <app-survey-question class="form--meta"></app-survey-question>
  </div>
  <button type="submit" class="btn btn__submit">Publish</button>
</form>

<dialog
id="popover-loader"
popover="manual"
closedby="none"
class="overlay--loader"
[open]="createSurvey.successMessage()"
>
<span class="loader"></span>
@if (createSurvey.successMessage()) {
    <div id="popover-feedback" closedby="none" class="overlay--published">
          <h2>Your survey is now published</h2>
        </div>
  } @else {
  }
</dialog>
