@if (db.survey().questions.length == surveyResponses.length) {
  <section class="survey--wrap">
    <form class="survey" action="" [formGroup]="surveyResponseForm" (ngSubmit)="formSubmit()">
      <div class="survey--head__navigation">
        @if (surveyIsActive) {
          <span class="survey--published">Published</span>
        } @else {
          <span class="survey--closed">closed</span>
        }
        <a [routerLink]="['']" class="btn btn__close">X</a>
      </div>

      <div class="survey--head">
        @if (surveyIsActive) {
          <span [class.d-none]="db.survey().endDate == ''" class="text text--tertiary"
            >Ends on {{ db.survey().endDate }}</span
          >
          <span class="text text--tertiary">Category: {{ db.survey().category }}</span>
        } @else {
          <u [class.d-none]="db.survey().endDate == ''" class="text text--tertiary"
            >Ended on {{ db.survey().endDate }}</u
          >
          <span class="text text--tertiary">Category: {{ db.survey().category }}</span>
        }
      </div>

      <h1 class="title title--small text--tertiary__purple">{{ db.survey().surveyName }}</h1>
      <p>{{ db.survey().description }}</p>

      <fieldset class="form--field">
        <section class="form--wrap" formArrayName="responses">
          @for (item of db.survey().questions; track item.id; let questionIndex = $index) {
            <article
              class="form--meta__general answer answer--wrap text--tertiary__purple"
              [formGroupName]="questionIndex"
            >
              <div class="title--wrap">
                <h3 class="text--tertiary__purple">
                  {{ questionIndex + 1 }}. {{ item?.questionInput }}
                </h3>
                @if (item?.multipleChoice) {
                  <div>
                    <span class="text text--tertiary text--tertiary__purple">
                      More than one answers are possible</span
                    >
                  </div>
                } @else {}
              </div>
              <div class="form--field">
                @for (answers of item.answers; track $index; let i = $index) {
                  @if (item.multipleChoice) {
                    <div class="form--field__answer">
                      <label for="question-{{ answers.questionId }}"></label>
                      <input
                        class="checkbox--purple"
                        (change)="updateMultipleChoiceAnswers(questionIndex, answers.id, $event)"
                        id="answer-{{ i }}"
                        type="checkbox"
                        [value]="answers.id"
                      />
                      <span class="text--tertiary__highlight">{{ i | alphabet }}. </span>
                      <span class="text--tertiary__purple">{{ answers.answerInput }}</span>
                    </div>
                  } @else {
                    <div class="form--field__answer">
                      <label for="question-{{ questionIndex }}"></label>
                      <input
                        class="checkbox--purple"
                        id="answer-{{ i }}"
                        type="radio"
                        [value]="answers.id"
                        formControlName="selectedAnswerId"
                      />
                      <span class="text--tertiary__highlight">{{ i | alphabet }}. </span>
                      <span class="text--tertiary__purple">{{ answers.answerInput }}</span>
                    </div>
                  }
                }
              </div>
              @if (submitted && surveyResponses.at(questionIndex).invalid) {
                <i class="text--error">You must answer this question!</i>
              } @else {
                <i class="text--error"></i>
              }
            </article>
          }
        </section>
      </fieldset>
      <div class="flex-end btn__wrap">
        @if (isMobileBreakpoint && surveyIsActive) {
          <button type="submit" class="btn btn__submit">Complete</button>
        } @else if (surveyIsActive) {
          <button type="submit" class="btn btn__submit">Complete survey</button>
        }
      </div>
    </form>

    <dialog id="popover-loader" popover="manual" closedby="none" class="overlay--loader" [open]="errorMessage() || successMessage()">
      @if (!errorMessage() && !successMessage()) {
        <span class="loader"></span>
      }
      @else if (errorMessage() && !successMessage()) {
        <div id="popover-feedback" closedby="none" class="overlay--published">
          <h2>Uuuups, that didn't work!</h2>
          <p>Please try again later</p>
        </div>
      } @else if (successMessage() && !errorMessage()) {
        <div id="popover-feedback" class="overlay--published">
          <h2>Thank You !</h2>
          <p>Your answers has been sent to us! Thank you for participating!</p>
        </div>
      }
    </dialog>

    <div [class.d-none]="!isMobileBreakpoint">
      <button
        id="btn__accordion"
        class="btn btn__accordion text text--tertiary__purple"
        type="button"
        (click)="toggleSurveyResults()"
      >
        Close results
      </button>
    </div>
    <app-survey-results-live [class.d-none]="toggleSurveyResultComponent"></app-survey-results-live>
  </section>
}
