@use '../../../../scss/abstracts/index' as *;

.title {
  color: #ee9236;
  &--wrap {
    @include dFlex($fd: column, $ai: flex-start, $g: 10px);
    h3 {
      margin-bottom: 0;
    }
  }
}

.text--tertiary {
  font-size: 1rem;
  color: #35273a;
}

#popover-loader {
  overflow: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.overlay--loader {
  border: unset;
  background-color: transparent;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &--wrap {
    width: 45%;
    @include respond(s) {
      width: 90%;
    }
  }
}

.form--wrap {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  width: 100%;
  @include respond(s) {
    flex-direction: column;
  }
}

input[type='checkbox'] {
  @include size($w: 20px, $h: 16px);
  appearance: none;
  background: url('/assets/img/checkbox_purple.svg');
  background-position: center;
  background-repeat: no-repeat;
  &:checked {
    background: url(/assets/img/checkbox_checked.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

input[type='radio'] {
  @include size($w: 20px, $h: 16px);
  appearance: none;
  background: url('/assets/img/checkbox_purple.svg');
  background-position: center;
  background-repeat: no-repeat;
  &:checked {
    background: url(/assets/img/checkbox_checked.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
