<form [formGroup]="createSurvey.surveyForm" (ngSubmit)="createSurvey.formSubmit()" class="form--container">
  <div class="form form--new-survey">
    <section class="form--meta">
      <article class="form--meta__general-column">
        <div class="form--meta__section">
          @if (isMobileBreakpoint) {
            <div class="form--field">
              <div class="form--field__input">
                <label class="text text--white" for="survey-name">Survey Name</label>
                <button
                  class="btn btn__delete"
                  type="button"
                  (click)="createSurvey.resetValue('surveyName')"
                ></button>
              </div>
              <input
                class="input"
                [class.text--error]="createSurvey.surveyForm.get('surveyName')?.hasError && createSurvey.formSubmitted"
                id="survey-name"
                type="text"
                formControlName="surveyName"
                placeholder="{{
                  createSurvey.surveyForm.get('surveyName')?.hasError && createSurvey.formSubmitted
                    ? 'This field is obligated !'
                    : ''
                }} "
              />
            </div>
          } @else {
            <div class="form--field">
              <label class="text text--white" for="survey-name">Survey Name</label>
              <div class="form--field__input">
                <input
                  class="input"
                  [class.text--error]="createSurvey.surveyForm.get('surveyName')?.hasError && createSurvey.formSubmitted"
                  id="survey-name"
                  type="text"
                  formControlName="surveyName"
                  placeholder="{{
                    createSurvey.surveyForm.get('surveyName')?.hasError && createSurvey.formSubmitted
                      ? 'This field is obligated !'
                      : ''
                  }} "
                />
                <button
                  class="btn btn__delete"
                  type="button"
                  (click)="createSurvey.resetValue('surveyName')"
                ></button>
              </div>
            </div>
          }
        </div>
        <div class="form--meta__section">
          @if (isMobileBreakpoint) {
            <div class="form--field">
              <div class="form--field__input">
                <label class="text text--white" for="end-date"
                  >Set end date <i>(optional)</i></label
                >
                <button
                  class="btn btn__delete"
                  type="button"
                  (click)="createSurvey.resetValue('endDate')"
                ></button>
              </div>
              <input
                class="input"
                id="end-date"
                type="date"
                min="{{db.currentDate}}"
                formControlName="endDate"
              />
            </div>
          } @else {
            <div class="form--field">
              <label class="text text--white" for="end-date">Set end date <i>(optional)</i></label>
              <div class="form--field__input">
                <input
                  class="input"
                  id="end-date"
                  type="date"
                  min="{{db.currentDate}}"
                  formControlName="endDate"
                />
                <button
                  class="btn btn__delete"
                  type="button"
                  (click)="createSurvey.resetValue('endDate')"
                ></button>
              </div>
            </div>
          }

          <label class="text text--white" for="category">
            <select
              class="dropdown"
              [class.highlight-select]="createSurvey.isDirty"
              id="category"
              type="text"
              formControlName="category"
            >
              <button>
                <selectedcontent
                  [class.text--error]="
                    createSurvey.surveyForm.get('category')?.hasError &&
                    createSurvey.formSubmitted &&
                    createSurvey.surveyForm.get('category')?.pristine
                  "
                ></selectedcontent>
              </button>
              <option value="" disabled selected hidden>Choose category</option>
              @for (item of createSurvey.categories; track $index) {
                <option class="text text--tertiary" value="{{ item.value }}">{{ item.tag }}</option>
              }
            </select>
          </label>
        </div>
      </article>

      <article class="form--meta__general form--half">
        @if (isMobileBreakpoint) {
          <div class="form--field">
            <div class="form--field__input-top">
              <label class="text text--white" for="description"
                >Describing text <i>(optional)</i></label
              >

              <button
                class="btn btn__delete"
                type="button"
                (click)="createSurvey.resetValue('description')"
              ></button>
            </div>
            <textarea
              class="input input--textarea"
              name="description"
              id="description"
              formControlName="description"
            ></textarea>
          </div>
        } @else {
          <div class="form--field">
            <label class="text text--white" for="description"
              >Describing text <i>(optional)</i></label
            >
            <div class="form--field__input-top">
              <textarea
                class="input input--textarea"
                name="description"
                id="description"
                formControlName="description"
              ></textarea>
              <button
                class="btn btn__delete"
                type="button"
                (click)="createSurvey.resetValue('description')"
              ></button>
            </div>
          </div>
        }
      </article>
    </section>

    <section class="form--meta">
      <article class="form--meta__general-row form--wrap" formArrayName="questions">
        @for (item of createSurvey.questions.controls; track $index; let questionIndex = $index) {
          <div [formGroupName]="questionIndex" class="form--group">
            <div class="form--field">
              <div class="form--field__input">
                <label class="text text--white" for="questionInput-{{ questionIndex }}"
                  >{{ $index + 1 }}. Question</label
                >
                <button
                  class="btn btn__delete"
                  type="button"
                  (click)="createSurvey.deleteControlFromArray(createSurvey.questions, questionIndex)"
                ></button>
              </div>

              <div class="form--field__input">
                <input
                  class="input"
                  [class.text--error]="createSurvey.surveyForm.get('questions')?.hasError && createSurvey.formSubmitted"
                  id="questionInput-{{ questionIndex }}"
                  type="text"
                  formControlName="questionInput"
                  placeholder="{{
                    createSurvey.surveyForm.get('questions')?.hasError && createSurvey.formSubmitted
                      ? 'This field is obligated !'
                      : ''
                  }}"
                />
              </div>
            </div>

            <div class="form--group form--group__secondary">
              <div class="form--field__checkbox-group">
                <h4 class="headline--secondary text text--white">Answers</h4>
                <div class="form--field__checkbox">
                  <label for="multiple-choice-{{ questionIndex }}"></label>
                  <input
                    [class.text--error]="createSurvey.surveyForm.get('questions')?.hasError && createSurvey.formSubmitted"
                    class="input input--checkbox"
                    id="multiple-choice-{{ questionIndex }}"
                    type="checkbox"
                    formControlName="multipleChoice"
                    placeholder="{{
                      createSurvey.surveyForm.get('questions')?.hasError && createSurvey.formSubmitted
                        ? 'This field is obligated !'
                        : ''
                    }}"
                  />
                  <span class="text text--white text--white__slim">Allow multiple answers.</span>
                </div>
              </div>

              <div formArrayName="answers" class="form--group__answers">
                @for (
                  item of createSurvey.getAnswers(questionIndex).controls;
                  track item.value;
                  let answerIndex = $index;
                  let last = $last
                ) {
                  <section
                    class="form--group w-100"
                    id="section__answer"
                    [formGroupName]="answerIndex"
                  >
                    @if (isMobileBreakpoint) {
                      <div class="form--field">
                        <label for="answerInput-{{ answerIndex }}"></label>
                        <div class="form--field__input">
                          <div>
                            <div class="text text--white text--white__count">
                              {{ answerIndex | alphabet }}.
                            </div>
                          </div>
                          <button
                            class="btn btn__delete"
                            type="button"
                            (click)="createSurvey.deleteControlFromArray(createSurvey.getAnswers(questionIndex), answerIndex)"
                          ></button>
                        </div>
                        <input
                          class="input"
                          id="answerInput-{{ answerIndex }}"
                          type="text"
                          formControlName="answerInput"
                          placeholder="{{
                            item.get('answerInput')?.hasError && createSurvey.formSubmitted
                              ? 'This field is obligated !'
                              : ''
                          }}"
                        />
                      </div>
                    } @else {
                      <div class="form--field">
                        <label for="answerInput-{{ answerIndex }}"></label>
                        <div class="form--field__input">
                          <div>
                            <div class="text text--white text--white__count">
                              {{ answerIndex | alphabet }}.
                            </div>
                          </div>
                          <input
                            [class.text--error]="item.get('answerInput')?.hasError && createSurvey.formSubmitted"
                            class="input"
                            id="answerInput-{{ answerIndex }}"
                            type="text"
                            formControlName="answerInput"
                            placeholder="{{
                              item.get('answerInput')?.hasError && createSurvey.formSubmitted
                                ? 'This field is obligated !'
                                : ''
                            }}"
                          />
                          <button
                            class="btn btn__delete"
                            type="button"
                            (click)="createSurvey.deleteControlFromArray(createSurvey.getAnswers(questionIndex), answerIndex)"
                          ></button>
                        </div>
                      </div>
                    }

                    <div [class.d-none]="!last" class="form--group__answers-row">
                      <div class="underline">
                        <button
                          [class.d-none]="$index == 5"
                          class="btn btn__add"
                          [hidden]="!$last"
                          type="button"
                          (click)="createSurvey.addAnswer(questionIndex)"
                        >
                          Add answer
                        </button>
                      </div>

                      <span
                        [class.d-none]="$index == 5 || $index < 2"
                        class="text text--white text--white__xslim"
                        >you can add up to 6 answers fields.</span
                      >
                    </div>
                  </section>
                } @empty {
                  <div class="underline">
                    <button class="btn btn__add" type="button" (click)="createSurvey.addAnswer(questionIndex)">
                      Add answer
                    </button>
                  </div>
                }
              </div>
            </div>
          </div>
        } @empty {
          <article class="form--meta__general form--half">
            <button
              class="text text--white btn btn__primary btn__primary--secondary"
              type="button"
              (click)="createSurvey.addQuestion()"
            >
              Add next questions
              <img src="/assets/img/add_circle_white.svg" alt="" />
            </button>
          </article>
        }

        <article class="form--group">
          <button
            class="text text--white btn btn__primary btn__primary--secondary"
            type="button"
            (click)="createSurvey.addQuestion()"
          >
            Add next question
            <img src="/assets/img/add_circle_white.svg" alt="plus-symbol" />
          </button>
        </article>
      </article>
    </section>
  </div>
  <button type="submit" class="btn btn__submit">Publish</button>
</form>


@if (createSurvey.successMessage()) {
  <dialog id="popover" popover="auto" class="overlay--published" [open]="createSurvey.successMessage()">
    <span>Your survey is now published</span>
  </dialog>
}
